---
const textLinks: { label: string; href: string }[] = [
  { label: 'Tic Tac Toe', href: '/tic-tac-toe/' },
  { label: 'Ping Pong', href: '/ping-pong/' },
]
---

<!-- navbar using tailwind -->
<nav class='flex items-center justify-between flex-wrap bg-neutral-900 p-6'>
  <div class='flex items-center flex-shrink-0 text-white mr-6'>
    <span class='font-semibold text-xl tracking-tight'>
      <a href='/'> GameCenter</a>
    </span>
  </div>
  <div class='block lg:hidden'>
    <button
      id='menu-button'
      class='flex items-center px-3 py-2 border rounded text-white border-white hover:text-white hover:border-white'
    >
      <svg
        class='fill-current h-3 w-3'
        viewBox='0 0 20 20'
        xmlns='http://www.w3.org/2000/svg'
      >
        <title>Menu</title>
        <path d='M0 0h20v20H0z'></path>
      </svg>
    </button>
  </div>
  <div
    id='menu-content'
    class='w-full hidden flex-grow lg:flex lg:items-center lg:w-auto'
  >
    <div class='text-sm lg:flex-grow flex flex-col lg:flex-row lg:justify-end'>
      {
        textLinks.map(({ label, href }) => (
          <a
            href={href}
            class='block mt-4 lg:inline-block lg:mt-0 text-white hover:text-pink-600 mr-4'
          >
            {label}
          </a>
        ))
      }
    </div>
  </div>
</nav>

<script>
  const menuButton = document.querySelector('#menu-button')
  const menuContent = document.querySelector('#menu-content')
  menuButton?.addEventListener('click', () => {
    menuContent?.classList.toggle('hidden')
  })
</script>
