<div
  id='welcome'
  class='text-center flex flex-col justify-center gap-10 h-52 w-fit m-auto'
>
  <div class='relative'>
    <div class='hero relative px-7 py-4'>
      <h1 class='text-5xl font-bold text-white mb-8'>Welcome to GameCenter</h1>
      <p class='text-white text-xl'>
        Here you can play all your favorite 2D Games in one place.
      </p>
    </div>
  </div>
</div>
